<mat-card class="page_heading">
    <span [routerLink]="['/admin']"> Admin </span>
  <mat-icon>arrow_forward_ios</mat-icon>
  Change Password
</mat-card>
<mat-card class="profile-card">
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordForm.valid&&changePassword()">
    <mat-form-field>
      <input matInput required placeholder="old  Password" [type]="oldPasswordHide ? 'password'  :  'text'"
        formControlName="oldPassword">
      <mat-icon matPrefix>vpn_key</mat-icon>
      <mat-icon matSuffix (click)="oldPasswordHide= !oldPasswordHide">
        {{oldPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="changePasswordForm['controls']['oldPassword']['errors']">
        {{getValidationError(changePasswordForm['controls']['oldPassword'],'oldPassword')}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput required placeholder="New Password" [type]="passwordHide ? 'password'  :  'text'"
        formControlName="password">
      <mat-icon matPrefix>vpn_key</mat-icon>
      <mat-icon matSuffix (click)="passwordHide= !passwordHide">{{passwordHide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error *ngIf="changePasswordForm['controls']['password']['errors']">
        {{getValidationError(changePasswordForm['controls']['password'],'password')}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput required placeholder="Confirm Password" [type]="confirmPasswordHide ? 'password' :'text'"
        formControlName="confirmPassword">
      <mat-icon matPrefix>vpn_key</mat-icon>
      <mat-icon matSuffix (click)="confirmPasswordHide= !confirmPasswordHide">{{confirmPasswordHide ?
            'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="changePasswordForm['controls']['confirmPassword']['errors']">
        {{getValidationError(changePasswordForm['controls']['confirmPassword'],'confirmPassword')}}</mat-error>
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary">Change Password</button>
      <!-- <button mat-button type="button" class="forgor_password" [routerLink]="[ '/account/login']">Back to login</button> -->
    </mat-card-actions>
  </form>
</mat-card>