
<mat-card class="page_heading">
    <span [routerLink]="['../']">  Admin Profile </span>
    <mat-icon>arrow_forward_ios</mat-icon>
    Change Password
  </mat-card>
  
    <mat-card>
      <div class="panel-header">
        <h3>Change Password </h3>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div>
              <mat-form-field>
                <input matInput placeholder="Old Password" [type]="hidePassword ? 'password' : 'text'" >
                <mat-icon matSuffix (click)="hidePassword = !hidePassword" style="cursor: pointer">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <!-- <mat-error>{{matError(resetPasswordForm.controls['oldPassword'])}}</mat-error> -->
              </mat-form-field>
            </div>
            <div>
            <mat-form-field>
              <input matInput placeholder="New Password" [type]="hidePassword ? 'password' : 'text'" >
              <mat-icon matSuffix (click)="hidePassword = !hidePassword" style="cursor: pointer">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              <!-- <mat-error>{{matError(resetPasswordForm.controls['resetPassword'])}}</mat-error> -->
            </mat-form-field>
        </div>
        <div>
  
            <mat-form-field>
              <input matInput placeholder="Confirm Password" [type]="hideConfirmPassword ? 'password' : 'text'" >
              <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" style="cursor: pointer">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              <!-- <mat-error>{{matError(resetPasswordForm.controls['confirmPassword'])}}</mat-error> -->
            </mat-form-field>
        </div>
                
          </div>  
        </div>
        <div class="form-btn text-left">
            <div class="row">
              <div class="col-sm-3">
                <button mat-raised-button color="primary" >Change Password</button>
              </div>
            </div>
          </div>
    </mat-card>