<div class="filter__title content--center text--primary mat-elevation-z1">
        <!-- <button mat-icon-button (click)="onCancelHandler()">
          <mat-icon>arrow_back</mat-icon>
        </button> -->
        <!-- <span>{{label}}</span> -->
      </div>
      <ng-content></ng-content>
      <div class="filter__actions">
        <!-- <button mat-stroked-button color="primary" (click)="reset.emit()">Reset</button> -->
        <!-- <button mat-raised-button color="primary" (click)="apply.emit()" [disabled]="disabled">Apply</button> -->
      </div>