<mat-card class="accout_wrapper login-card" style="min-width: 300px;
max-width: 600px;
width: auto;">

<div class="header-card">
<h2>Forgot Password</h2>
<p>Forgot Your Password? Don't worry send us your registered email address and we will send you
    steps to reset your password.</p>
</div>

 <mat-card-content>
    <form [formGroup]="forgotForm" (ngSubmit)="forgotForm.valid&&checkEmail()">
        <mat-form-field>
          <input matInput placeholder="Email ID " required formControlName="email">
          <mat-icon matPrefix>mail</mat-icon>
          <mat-error *ngIf="forgotForm['controls']['email']['errors']">{{getValidationError(forgotForm['controls']['email'],'email')}}</mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button type="submit" color="primary">Send</button>
          <button type="button" mat-button class="forgor_password" [routerLink]="[ '/account/login']"> Back to login </button>
        </mat-card-actions>
  
      </form>

 </mat-card-content>

</mat-card>  
