

<mat-form-field class="search_filter">
    <input type="text" matInput [placeholder]="placeholder" (keyup.enter)="searchResult()" [(ngModel)]="search">
    <button type="button" mat-button *ngIf="search.trim()" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearch()">
      <mat-icon>close</mat-icon>
    </button>
    <button type="button" mat-button (click)="searchResult()" class="search-btn" matSuffix>      
      <mat-icon  >search</mat-icon>    
    </button>
</mat-form-field>

