<mat-list class="sidebar" [ngClass]="{'open': !state}">
    <mat-list-item [routerLink]="['home']" routerLinkActive="active" matRipple matTooltip="Home"
        titlePosition="right">
        <mat-icon>home</mat-icon> <span> Home </span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [routerLink]="['dashboard']" routerLinkActive="active" matRipple matTooltip="Dashboard"
    titlePosition="right">
    <mat-icon>dashboard</mat-icon> <span> Dashboard </span>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item [routerLink]="['chat-Application']" routerLinkActive="active" matRipple matTooltip=" Chat Application"
titlePosition="right">
<mat-icon>chat</mat-icon> <span> Chat Application </span>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item [routerLink]="['subscription']" routerLinkActive="active" matRipple matTooltip=" Subscription"
titlePosition="right">
<mat-icon>subscriptions</mat-icon> <span> Subscription</span>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item [routerLink]="['download_video']" routerLinkActive="active" matRipple matTooltip=" download"
titlePosition="right">
<mat-icon>cloud_download</mat-icon> <span> download</span>
</mat-list-item>

    </mat-list>