<!-- filter sction  -->
<div class="row align-item-center">
  <div class="col-sm-8">
    <app-search-filter [placeholder]="'Search by Author Name & book Name'" (setSearch)="setSearch($event)">
    </app-search-filter>
  </div>
  <div class="col-sm-4">
    <button class="filter_btn" mat-mini-fab matTooltip="Filter" (click)="showFilter=!showFilter">
      <mat-icon>filter_list</mat-icon>
    </button>
    <button class="filter_btn" mat-mini-fab matTooltip="Add Book" (click)="addBookCategory()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>


<!-- table sction -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="bookList" matSort (matSortChange)="sortData($event)">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;let i=index"> {{getSerialNumber(i+1)}} </td>
    </ng-container>
    <!-- image column -->
    <ng-container matColumnDef="Image">
      <th mat-header-cell *matHeaderCellDef class="white_space"> Image </th>
      <td mat-cell *matCellDef="let element">
        <div class="profile_pic"><img [src]="element.images||'assets/images/avatar.png'" class="user-image" alt="User">
        </div>
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> author </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>
    <!-- description column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="bookList?.data?.length==0">
    <h3 style="text-align: center;padding: 10px">No Record Found</h3>
  </div>
  <!--  pagination  -->
  <mat-paginator *ngIf="bookList?.data?.length" [length]="total" [pageIndex]="page-1" [pageSize]="pageSize"
    [pageSizeOptions]="[ 5,10, 25,50, 100]" (page)="changePage($event)">
  </mat-paginator>

</div>