<!-- filter sction  -->
<div class="row align-item-center">
  <div class="col-sm-8">
    <app-search-filter [placeholder]="'Search by Author Name & book Name'" (setSearch)="setSearch($event)">
    </app-search-filter>
  </div>
  <div class="col-sm-4">
    <button class="filter_btn" mat-mini-fab matTooltip="Filter" (click)="showFilter=!showFilter">
      <mat-icon>filter_list</mat-icon>
    </button>

<app-common-filter  (reset)="onResetHandler()"  (apply)="onApplyHandler()">
    <form [formGroup]="filterForm" >
    
        <label>Created On</label>
        <div class="inline-fields" formGroupName="createdOn">
          <mat-form-field>
            <input matInput [max]="createdOn.controls['to'].value || today" placeholder="From" [matDatepicker]="createdFrom" formControlName="from" autocomplete="off" readonly (click)="createdFrom.open()"/>
            <mat-datepicker-toggle matSuffix [for]="createdFrom"></mat-datepicker-toggle>
            <mat-datepicker #createdFrom></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [min]="createdOn.controls['from'].value" [max]="today" placeholder="To" [matDatepicker]="createdTo" formControlName="to" autocomplete="off" readonly (click)="createdTo.open()"/>
            <mat-datepicker-toggle matSuffix [for]="createdTo"></mat-datepicker-toggle>
            <mat-datepicker #createdTo></mat-datepicker>
          </mat-form-field>
        </div>
    
      
      </form>
</app-common-filter>


    <button class="filter_btn" mat-mini-fab matTooltip="Add Book" (click)="addBookCategory()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>


 <!-- filter -->
  <mat-expansion-panel class="adminFilter" [expanded]="showFilter">
    <form [formGroup]="bookForm">
      <div class="row">
          <mat-form-field>
              <input matInput required placeholder="name" name="name" formControlName="name">
              <mat-error *ngIf="bookForm['controls']['name']['errors']">
                  {{getValidationError(bookForm['controls']['name'],'name')}} please enter a name
              </mat-error>
          </mat-form-field>
         
          <mat-form-field>
              <input matInput required placeholder="price" price="price" formControlName="price">
              <mat-error *ngIf="bookForm['controls']['price']['errors']">
                  {{getValidationError(bookForm['controls']['price'],'price')}} please enter a price
              </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
              <input matInput required placeholder="author" author="author" formControlName="author">
              <mat-error *ngIf="bookForm['controls']['author']['errors']">
                  {{getValidationError(bookForm['controls']['author'],'author')}} please enter a author name
              </mat-error>
          </mat-form-field>

  
        <div class="row">
          <div class="col-md-12">
            <div class="form-btn text-center mt-3">
              <button filter_btn mat-stroked-button  (click)="resetFilter()"> Reset </button>
              <button filter_btn mat-raised-button color="primary" 
                (click)="filter()"> Filter </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
  <!-- /filter -->
  <!-- end of filter -->


<!-- table sction -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="bookList" matSort (matSortChange)="sortData($event)">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;let i=index"> {{getSerialNumber(i+1)}} </td>
    </ng-container>
    <!-- image column -->
    <ng-container matColumnDef="Image">
      <th mat-header-cell *matHeaderCellDef class="white_space"> Image </th>
      <td mat-cell *matCellDef="let element">
        <div class="profile_pic"><img [src]="element.images||'assets/images/avatar.png'" class="user-image" alt="User"
          [routerLink]="['/admin/home/user_details', element._id]">
        </div>
      </td>
    </ng-container>
    <!-- book code -->
    <ng-container matColumnDef="book_code">
      <th mat-header-cell *matHeaderCellDef> code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> author </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>
    <!-- description column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status|titlecase}}  </td>
          </ng-container>
       

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <div class="action_btn">
            <button mat-button matTooltip="Edit" (click)="addBookCategory(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button matTooltip="{{element.status=='ACTIVE'?'Block':'Unblock'}}"
               (click)="changeStatusActive(element.status=='ACTIVE'?'BLOCKED':'ACTIVE',element._id)"> 
              <mat-icon>{{element.status=='ACTIVE'?'lock':'lock_open'}}</mat-icon>
            </button>
            <button mat-button matTooltip="Delete" (click)="changeStatus('DELETED',element._id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="bookList?.data?.length==0">
    <h3 style="text-align: center;padding: 10px">No Record Found</h3>
  </div>
  <!--  pagination  -->
  <mat-paginator *ngIf="bookList?.data?.length" [length]="total" [pageIndex]="page-1" [pageSize]="pageSize"
    [pageSizeOptions]="[ 5,10, 25,50, 100]" (page)="changePage($event)">
  </mat-paginator>

</div>