<div class="mat-elevation-z8">
    <table mat-table   [dataSource]="subscriptionlist">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element;let i=index"> {{getSerialNumber(i+1)}} </td>
        </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

               <!-- subscribe type Column -->
               <ng-container matColumnDef="subscribe type">
                <th mat-header-cell *matHeaderCellDef> subscribe type </th>
                <td mat-cell *matCellDef="let element"> {{element.subscribeType}} </td>
            </ng-container>

                   <!-- subscribe amount Column -->
        <ng-container matColumnDef="subscribe amount">
            <th mat-header-cell *matHeaderCellDef> subscribe amount </th>
            <td mat-cell *matCellDef="let element"> {{element.subscribeAmount}} </td>
        </ng-container>

 
        <!-- Date column -->
        <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.time | date}} </td>
        </ng-container>

        <!-- Time column -->
        <ng-container matColumnDef="Time">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let element"> {{element.time | customdate }} </td>
        </ng-container>

            <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <div class="action_btn">
            <button mat-button matTooltip="View" [routerLink]="['/admin/subscription/subscription_details' , element._id]">
              <mat-icon>visibility</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        
    </table>

    <!-- <div *ngIf="adminList?.data?.length==0">
        <h3 style="text-align: center;padding: 10px">No Record Found</h3>
    </div> -->
    <!--  pagination  -->
    <!-- <mat-paginator *ngIf="adminList['data'].length" [length]="total" [pageIndex]="page-1" [pageSize]="pageSize"
          [pageSizeOptions]="[ 5,10, 25,50, 100]" (page)="changePage($event)">
        </mat-paginator> -->

</div>