<mat-card class="accout_wrapper login-card" style="min-width: 300px;
max-width: 600px;
width: auto;">

  <div class="header-card">
    <h2>Reset Password</h2>
    <p>Enter new password and confirm password to reset
    </p>
  </div>
  <mat-card-content>
    <form [formGroup]="resetForm" (ngSubmit)="resetForm.valid&&resetPassword()">
      <mat-form-field>
        <input matInput required placeholder="New Password" [type]="passwordHide ? 'password'  :  'text'"
          formControlName="password">
        <mat-icon matPrefix>vpn_key</mat-icon>
        <mat-icon matSuffix (click)="passwordHide= !passwordHide">{{passwordHide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="resetForm['controls']['password']['errors']">
          {{getValidationError(resetForm['controls']['password'],'password')}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Confirm Password" [type]="confirmPasswordHide ? 'password' :'text'"
          formControlName="confirmPassword">
        <mat-icon matPrefix>vpn_key</mat-icon>
        <mat-icon matSuffix (click)="confirmPasswordHide= !confirmPasswordHide">{{confirmPasswordHide ?
            'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="resetForm['controls']['confirmPassword']['errors']">
          {{getValidationError(resetForm['controls']['confirmPassword'],'confirmPassword')}}</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">Reset</button>
        <!-- <button mat-button type="button" class="forgor_password" [routerLink]="[ '/account/login']">Back to login</button> -->
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>