/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





body{
  font-family: 'Poppins', sans-serif;
}
img{max-width: 1000%;max-height: 100%;}
$thm_clr : #2e2e2e;
$thm_clr_blue: #5459f9;
$thm_clr_light : rgba($thm_clr, 0.1);
$thm_clr_light :rgba(0, 205, 222, 0.1);
.icon{
    margin-bottom: 20px;
      img{
          max-width: 60px;
          height: 60px;
          margin: 0 auto;
      }
  }

  .video {
    img{opacity: .5;transition: .3s ease all;max-height: 40px;}
    &:hover img{
      opacity: 1;
    }
  } 

  .mat-card.page_heading {
    font-size: 14px;
    position: relative;
    /* border-left: 5px solid #2e2e2e; */
    padding: 17px 20px;
    background: #f57970;
    color: #fff;
    border-radius: 0px;
    .mat-icon{
      vertical-align: middle;
      font-size: 14px;
      width: 20px;
      height: 14px;
      text-align: center;
    }
    span{color:#393ef1;cursor: pointer;}
  }


  .mat-card.profile-card{
    max-width: 500px;
    margin: 15px auto;
    background: whitesmoke;
    h3{
        margin-top: 0px;
    }
    .form-btn{
        margin-top: 10px;
        padding-bottom: 0px;
    }
    .panel-header{
        margin-bottom: 10px;
    }
}


.white_space{
  white-space: nowrap;
}

  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.adminFilter.mat-expansion-panel{
  margin-bottom: 30px;
  .mat-expansion-panel-body{padding: 0;}
}

.mat_filter {
  padding: 20px;
  border: 1px solid #ffe5e5;
  transform-origin: top;
  transition: .3s ease-in all;

  &.active {
    display: block;
    opacity: 1;
    transform: scaleY(1);
    height: 100%;

  }
  h4{color: #000;}
  .filter_by{
    background: #ffffff;
    position: relative;
    top: -30px;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.2rem;
  }
}
.form-group{
  margin-bottom: 20px;
}

.action_btn {
  .mat-button {
    min-width: 30px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    background-color: $thm_clr_light;
    color: $thm_clr;
    margin: 0 2px;
    &:first-child{margin-left: 0;}
    &:last-child{margin-right: 0;}
    &:hover {
      color: $thm_clr;
      background: $thm_clr_light;
    }
    .mat-icon{
      transform: scale(0.8);
      line-height: 14px;
    }
  }
}