<div *ngIf="showloader" class="spinerdiv">
  <div class="spinner"></div>
</div>

<mat-card class="page_heading">
  <!-- <span [routerLink]="['SETTINGS'|absolutePath]"> Admin Profile </span> -->
  <mat-icon>arrow_forward_ios</mat-icon>
  Edit Profile
</mat-card>
<form [formGroup]="editProfileForm" (ngSubmit)="editProfile()">
  <mat-card>
    <div class="panel-header">
      <h3> Edit Profile </h3>
    </div>
    <div class="flex-col">
      <div class="img-wrap">
        <div class="img">
          <img [src]="profileDetail?.image ? profileDetail?.image : 'assets/images/avatar.png'" alt="">
          <!-- <mat-spinner *ngIf="imgLoader" [diameter]="40"></mat-spinner> -->
          <button type="button" mat-mini-fab color="primary">
            <mat-icon>camera_alt</mat-icon>
            <input type="file" (change)="onSelectFile($event)" matTooltip="Change Image" />
          </button>
        </div>
      </div>
      <div class="form-wrap">
        <div class="form-group">
          <mat-form-field>
            <input matInput required placeholder="First Name" firstName="firstname" formControlName="firstName">
            <mat-error *ngIf="editProfileForm['controls']['firstName']['errors']">
              {{getValidationError(editProfileForm['controls']['firstName'],'firstName')}} please enter a name
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput required placeholder="Email Address" name="username" formControlName="email">
            <mat-error *ngIf="editProfileForm['controls']['email']['errors']">
              {{getValidationError(editProfileForm['controls']['email'],'email')}} please enter a email</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="form-btn">
      <div class="row">
        <div style="text-align: center;width:100%">
          <button mat-raised-button color="primary">Update</button>
          <!-- <button mat-raised-button [routerLink]="['SETTINGS'|absolutePath]">Cancel</button> -->
        </div>
      </div>
    </div>
  </mat-card>
</form>